doctype html
html
  head
    style.
      @font-face {
        font-family: 'Arimo';
        font-style: normal;
        font-weight: 400;
        src: url(!{fontBase + '/Arimo-Regular.ttf'}) format('truetype');
      }
      @font-face {
        font-family: 'Arimo';
        font-style: normal;
        font-weight: 700;
        src: url(!{fontBase + '/Arimo-Bold.ttf'}) format('truetype');
      }
      body{
        margin:0;
        padding:0;
        font-family:'Arimo', Arial, sans-serif;
        font-size:9pt;
      }

      img{
        width:100%;
        display:block;
      }

      .client-section{
        width:100%;
        padding:15pt 30pt;
        box-sizing:border-box;
        overflow:hidden;
      }

      .client-left{
        width:48%;
        float:left;
      }

      .client-right{
        width:48%;
        float:right;
      }

      .client-section p{
        margin:3pt 0;
      }

      .label{
        font-weight:bold;
      }

      .quote-info{
        width:100%;
        padding:11.25pt 30pt 0 30pt;
        box-sizing:border-box;
        overflow:hidden;
        font-size:9.75pt;
      }

      .quote-date{
        float:left;
      }

      .quote-number{
        float:right;
      }

      .scope-image{
        width:100%;
        margin-top:7.5pt;
      }

      .quote-table{
        width:100%;
        border-collapse:collapse;
        margin-top:7.5pt;
        font-size:7.5pt;
      }

      .quote-table th{
        border:0.75pt solid #000;
        padding:3pt;
        background:#f2f2f2;
        text-align:center;
      }

      .quote-table td{
        border:0.75pt solid #000;
        padding:3pt;
        vertical-align:top;
        line-height:1.2;
      }

      .quote-table .right{
        text-align:right;
      }

      .quote-table .center{
        text-align:center;
      }

      .summary-table{
        width:40%;
        margin-left:auto;
        margin-top:11.25pt;
        border-collapse:collapse;
      }

      .summary-table td{
        border:0.75pt solid #000;
        padding:3pt;
      }

      .footer-image{
        width:100%;
        margin-top:3.75pt;
        page-break-inside:avoid;
      }

      .footer-image img{
        width:100%;
        height:180pt;
        display:block;
      }

      .page-break{
        page-break-before:always;
      }

      .payment-section{
        padding:7.5pt 30pt;
        font-size:7.5pt;
        line-height:1.4;
      }

      .payment-section h3{
        margin-top:0;
        margin-bottom:11.25pt;
      }

      .payment-section ul{
        margin:0;
        padding-left:15pt;
      }

      .payment-section li{
        margin-bottom:6pt;
      }

      .page2-footer{
        width:100%;
        margin-top:-7.5pt;
      }

      .page2-footer img{
        width:100%;
        height:360pt;
        display:block;
      }

      .page-two-bg{
        width:100%;
        margin-top:15pt;
        line-height: 0;
      }

      .page-two-bg img{
        width:100%;
        height:187.5pt;
        display:block;
        margin-bottom:-15pt;
      }
  body

    img(src=settings.public_server_file + "public/download/quote/quotation-header.png")

    .quote-info

      .quote-date
        strong Date:
        |  #{moment(model.date).format('DD/MM/YYYY')}

      .quote-number
        strong Quotation No:
        |  QTN#{model.number}/#{model.year || ''}

    .client-section

      .client-left

        p
          span.label To:
          |  #{model.client.name}

        p #{model.client.contactPerson || ''}

        p
          span.label Mob:
          |  #{model.client.phone || ''}

        p
          span.label Email:
          |  #{model.client.email || ''}

        if model.client.address
          p #{model.client.address}

      .client-right

        p
          span.label From:
          |  Al Safwah Al Qabdha Tents IND L.L.C SP

        p Mr. Mohammed Ali

        p
          span.label Tel:
          |  +971 6 767 9058

        p
          span.label Fax:
          |  +971 6 767 9058

        p
          span.label Mob:
          |  +971 50 404 1805

        p
          span.label Email:
          |  info@goldenelitetents.ae

    .scope-image
    img(src=settings.public_server_file + "public/download/quote/scope-of-work.png")

    table.quote-table
      thead
        tr
          th(width="5%") Sl. No.
          th(width="45%") Description
          th(width="8%") Unit
          th(width="7%") Qty
          th(width="12%") Unit Price
          th(width="10%") Net Amount
          th(width="8%") VAT Amount
          th(width="10%") Total Amount

      tbody
        each item, index in model.items
          tr
            td.center #{index + 1}

            td
              strong #{item.itemName}
              if item.description
                br
                br
                | #{item.description}

            td.center #{item.unit || 'LUM'}

            td.center #{item.quantity}

            td.right #{moneyFormatter({amount:item.price})}

            td.right #{moneyFormatter({amount:item.total})}

            td.right #{moneyFormatter({amount:item.total * (model.taxRate/100)})}

            td.right #{moneyFormatter({amount:item.total + (item.total * (model.taxRate/100))})}

    table.summary-table
      tr
        td
          strong Net Amount
        td.right #{moneyFormatter({amount:model.subTotal})}

      tr
        td
          strong VAT #{model.taxRate}%
        td.right #{moneyFormatter({amount:model.taxTotal})}

      tr
        td
          strong Total Amount
        td.right
          strong #{moneyFormatter({amount:model.total})}

    .footer-image
        img(src=settings.public_server_file + "public/download/quote/footer-bg.png")

    .page-break

        img(src=settings.public_server_file + "public/download/quote/quotation-header2.png")
    
    .payment-section

       h3 Payment Terms:

        ul
          li 20% advance  payment upon order confirmation

          li 25% payment  upon material delivery to site and commencement of installation

          li 15% payment  upon completion of the first No.1 and No.2 canopy shades

          li 15% payment  upon completion of the second No.4 and No.5 canopy shades

          li 15% payment upon commencement of installation of third No.3

          li 10% final payment upon full project completion

    .page2-footer
          img(src=settings.public_server_file + "public/download/quote/page2-footer.png")

    .page-two-bg
          img(src=settings.public_server_file + "public/download/quote/footer2-bg.png")